<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.ihainan.bu.app">

    <!-- 访问联盟服务器 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 存储图片 -->


    <!-- 友盟统计 SDK 额外要求权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 友盟自动更新 SDK 额外要求权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 适配低版本 Android -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 小米推送 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="me.ihainan.bu.app.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="me.ihainan.bu.app.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".utils.BUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.network.XMMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible|stateAlwaysHidden" />
        <activity
            android:name=".ui.ThreadListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_post_list"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56c6af3767e58e1acb0011b3" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="bitunion" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />
        <service android:name=".utils.network.SessionUpdateService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.assist.SwipeActivity" />
        <activity
            android:name=".ui.PreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_preview"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.PostListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_thread_detail_new"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.FullscreenPhotoViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_photo_viewer"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ui.BetterPostActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_better_post"
            android:theme="@style/AppTheme.SwipeTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.PostDisplaySettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.NewFollowingListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_new_following_list"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.ForumListActivity"
            android:label="@string/title_activity_forum_list"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.FocusActivity"
            android:label="@string/title_activity_focus"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_preference"
            android:theme="@style/AppTheme.SwipeTheme"></activity>
    </application>

</manifest>
