<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bit.ihainan.me.bitunionforandroid">

    <!-- 访问联盟服务器 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 友盟统计 SDK 额外要求权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 友盟自动更新 SDK 额外要求权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 适配低版本 Android -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 附件 -->


    <application
        android:name=".utils.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible|stateAlwaysHidden" />
        <activity
            android:name=".ui.ThreadListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_post_list"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity android:name=".ui.TestActivity">

        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56c6af3767e58e1acb0011b3" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="bitunion" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.assist.SwipeActivity" />
        <activity
            android:name=".ui.PostOrReplyActivity"
            android:label="@string/title_activity_post_or_reply"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".ui.PreviewActivity"
            android:label="@string/title_activity_preview"
            android:theme="@style/AppTheme.SwipeTheme" />
        <activity
            android:name=".ui.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.SwipeTheme"></activity>

        <activity
            android:name=".ui.ThreadDetailNewActivity"
            android:label="@string/title_activity_thread_detail_new"
            android:theme="@style/AppTheme.SwipeTheme">

        </activity>
    </application>

</manifest>
